@import '../../styles/colors';
@import '../../styles/breakpoints';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin media($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}

.ClubComponent__section {
  // overflow: hidden;
  // padding-top: 2rem;
  // padding-bottom: 2rem;
  // width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // background-color: $primary;
  // border: 1px solid pink;
  // padding: 5rem 0;
  gap: 4rem;

  @include desktop {
    gap: 6rem;
  }

  @include media(680px) {
    // padding: 5rem 0;
  }
  @include media(480px) {
    padding: 0;
  }
  &__club__wrapper {
    overflow: hidden;
    width: clamp(60%, 100%, min(60rem, 100% - 20px));
    max-width: 60rem;
    & > ul {
      --gap: 0.8rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(7, 1fr);
      list-style: none;
      justify-items: center;
      align-items: center;
      gap: var(--gap);

      @include media(680px) {
        --gap: 0.7rem;
        row-gap: 0.6rem;
      }
      @include media(480px) {
        row-gap: 0.5rem;
        --gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
      }
      & > li {
        width: 90%;
        aspect-ratio: 1/0.9;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        background-color: $action-dark;
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);

        @include media(680px) {
          width: 100%;
        }
        // hexagon link
        & > a {
          height: 95%;
          aspect-ratio: 1/0.9;
          display: flex;
          justify-content: center;
          align-items: center;
          clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
          position: relative;
          cursor: pointer;
          transition: transform 0.4s cubic-bezier(0.02, 0.45, 0.84, 0.56);
          // image container
          & > div {
            width: 100%;
            height: 100%;

            & > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              filter: grayscale(100%) blur(0.2rem) brightness(0.65);
              transition: filter 0.4s ease-in-out;
            }
          }
          // content container
          & > div {
            position: absolute;
            inset: 0;
            color: $action;
            width: 100%;
            z-index: 1001;
            display: flex;
            justify-content: center;
            align-items: center;

            & > p {
              font-family: sans-serif;
              font-weight: bold;
              font-size: medium;
              transition: color 0.3s ease-in-out;
            }
          }
        }
        & > a:hover {
          transform: scale(1.05);
          & > div > img {
            filter: grayscale(0%) blur(0);
          }
          & > div > p {
            color: transparent;
          }
        }
      }

      & > li:nth-child(2n + 1) {
        grid-column: 2 / 3;
      }

      & > li:nth-child(2),
      & > li:nth-child(4),
      & > li:nth-child(10),
      & > li:nth-child(12) {
        grid-column: 1 / 2;
        transform: translate(
          calc(35% + calc(var(--gap) / 2)),
          calc(-50% - calc(var(--gap) / 2))
        );

        @include media(680px) {
          transform: translate(
            calc(25% + calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }
      }
      & > li:nth-child(6) {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        transform: translate(
          calc(-35% - calc(var(--gap) / 2)),
          calc(-50% - calc(var(--gap) / 2))
        );

        @include media(680px) {
          transform: translate(
            calc(-25% - calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }
        @include media(480px) {
          grid-row: 4 / 5;
          grid-column: 1/ 2;
          transform: translate(
            calc(25% + calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }
      }
      & > li:nth-child(8) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        transform: translate(
          calc(-35% - calc(var(--gap) / 2)),
          calc(-50% - calc(var(--gap) / 2))
        );
        @include media(680px) {
          transform: translate(
            calc(-25% - calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }
        @include media(480px) {
          grid-row: 5 / 6;
          grid-column: 1/ 2;
          transform: translate(
            calc(25% + calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }
      }

      & > li:nth-child(14) {
        grid-row: 6 / 7;
        grid-column: 3 / 4;
        transform: translate(
          calc(-35% - calc(var(--gap) / 2)),
          calc(-50% - calc(var(--gap) / 2))
        );

        @include media(680px) {
          transform: translate(
            calc(-25% - calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }

        @include media(480px) {
          grid-row: 8 / 9;
          grid-column: 1/ 2;
          transform: translate(
            calc(25% + calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }
      }
      & > li:nth-child(15) {
        grid-row: 7 / 8;
        grid-column: 3 / 4;
        transform: translate(
          calc(-35% - calc(var(--gap) / 2)),
          calc(-50% - calc(var(--gap) / 2))
        );

        @include media(680px) {
          transform: translate(
            calc(-25% - calc(var(--gap) / 2)),
            calc(-50% - calc(var(--gap) / 2))
          );
        }

        @include media(480px) {
          grid-row: 8 / 9;
          grid-column: 2 / 3;
          transform: translate(
            calc(calc(var(--gap) / 2)),
            calc(-calc(var(--gap) / 2))
          );
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .ClubComponent__section > div > ul {
    & > li:nth-child(2n) {
      transform: translate(12.5%, calc(-50% - 0.2rem));
    }
    & > li:nth-child(2n + 1) {
      transform: translate(-12.5%, 0%);
    }
  }
}
