@import 'reset';
@import 'breakpoints';
@import 'colors';

/**
 * importing utilities
 */
@import 'utilities/reset_button';


:root {
  --font-size-heading: 2rem;
  --font-size-sub-heading: 1.5rem;
  --font-size-paragraph: 1rem;
  --font-size-small: 0.8rem;
}

@media (min-width: 375px) {
  :root {
    --font-size-heading: 2rem;
    --font-size-sub-heading: 1.5rem;
    --font-size-paragraph: 1rem;
    --font-size-small: 0.8rem;
  }
}
.cls-1,.cls-10,.cls-11,.cls-14,.cls-3,.cls-6,.cls-7{fill:white;}.cls-1,.cls-10,.cls-11,.cls-14,.cls-8{stroke:#fff;}.cls-1,.cls-10,.cls-11,.cls-12,.cls-14,.cls-15,.cls-3,.cls-4,.cls-5,.cls-6,.cls-8{stroke-miterlimit:10;}.cls-1{stroke-width:2px;}.cls-15,.cls-2,.cls-4,.cls-5,.cls-8{fill:#fff;}.cls-12,.cls-3,.cls-4,.cls-5{stroke:#000;}.cls-15,.cls-4{stroke-width:0.2px;}.cls-15,.cls-6{stroke:#1d1d1b;}.cls-14,.cls-6{stroke-width:0.5px;}.cls-8{stroke-width:0.3px;}.cls-9{fill:#fffdfd;}.cls-11{stroke-width:1.2px;}.cls-12,.cls-16{fill:#070303;}.cls-12{stroke-width:9px;}.cls-13{fill:#040404;}.cls-17{fill:#030102;}

@tailwind base;
@tailwind components;
@tailwind utilities;