@import '../../scss/breakpoints';

.home__main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    min-height: 100vh;
    background-color: #04133b;

    @include max-media(680px) {
        gap: 1.5rem;
    }

}